<div class="post">
    <!--<div class="breadcrumb">-->
    <!--<router-link to="/blog">&#8592; Blog</router-link>-->
    <!--</div>-->
    <article class="post-product">
        <div class="background-image">
            <div class="bg-overlay"></div>
        </div>
        <div class="title-content-container">
            <div class="header-title">
                <span class="line"></span>
                <div class="title-container">
                    <a href="" class="date"><h3 class="month">Dec</h3> <p class="days">02, 2017</p></a>
                    <icon name="quote-left"></icon>
                    <h2 class="title">{{ post.title }}</h2>
                    <icon name="quote-right"></icon>
                </div>
                <span class="line"></span>
            </div>
        </div>
        <div class="main-container">
            <div ng-class="{'attachment': attach === true}" class="share-box">
                <div class="social-links" ng-class="{'active': fixedSocial === true, 'attachment': attach === true}">
                    <div class="social-container">
                        <h6 class="title">Share this</h6>
                        <ul class="share-container">
                            <li class="twitter"><a href="#"><icon name="twitter"></icon></a></li>
                            <li class="telegram"><a href="#"><icon name="telegram"></icon></a></li>
                            <li class="github"><a href="#"><icon name="github"></icon></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-container">
                <p class="first-par">
                    {{ post.article }}
                </p>
                <blockquote>
                    <p>
                        {{ post.description }}

                    </p>
                </blockquote>
                <p>
                    {{ post.article }}
                </p>
                <div class="image-container">
                    <img src="{{post.img || imgDefault}}" alt="">
                    <h2>{{post.title}}</h2>
                </div>
            </div>
            <div class="banner-container">
                <div class="content">
                    <img src="https://webref.ru/sites/all/themes/ori/img/cssref.png" alt="">
                </div>
                <div class="content">
                    <img src="https://webref.ru/sites/all/themes/ori/img/cssref.png" alt="">
                </div>
                <div class="content">
                    <img src="https://webref.ru/sites/all/themes/ori/img/cssref.png" alt="">
                </div>
            </div>
        </div>
    </article>
</div>