<div class="row">
			<div class="col-xs-6">
					<form novalidate name="formNewBook" ng-submit="formNewBook.$valid && saveBook()">
					<div class="form-group" ng-class="{'has-error': formNewBook.$submitted && formNewBook.title.$invalid}">
						<input type="text" class="form-control" name="title" required placeholder="Title"	ng-model="newBook.title">
					</div>
					<div class="form-group" ng-class="{'has-error': formNewBook.$submitted && formNewBook.author.$invalid}">
						<input type="text" class="form-control" name="author" required placeholder="Author"	ng-model="newBook.author">
					</div>
					<div class="form-group" ng-class="{'has-error': formNewBook.$submitted && formNewBook.date.$invalid}">
						<input type="text" class="form-control" name="date" required placeholder="Date"	ng-model="newBook.date">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Rate"	ng-model="newBook.rate">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" required placeholder="Cost"	ng-model="newBook.cost">
					</div>
					<button class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>	Add new book</button>
				</form>
			</div>
		</div>
		<div class="text-right">
			<input type="number" ng-model="limitNumber" placeholder="Limit" max="{{books.length}}" min="0">

		<input type="text" ng-model="searchString" placeholder="Search">
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="cursor-pointer" ng-click="sortBy('title')">Title</th>
					<th class="cursor-pointer" ng-click="sortBy('author')">Author</th>
					<th class="cursor-pointer" ng-click="sortBy('date')">Date</th>
					<th class="cursor-pointer" ng-click="sortBy('rate')">Rate</th>
					<th class="cursor-pointer" ng-click="sortBy('cost')">Cost</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="book in books | orderBy : sortField | limitTo : limitNumber | filter : searchString track by $index">
					<td>{{book.title | uppercase}}</td>
					<td>{{book.author}}</td>
					<td>{{book.date | date: 'longDate'}}</td>
					<td>{{book.rate | number: 1}}</td>
					<td>{{book.cost | currency}}</td>
				</tr>
			</tbody>
		</table>